@import "nuxt-transitions";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dp-primary-color: #4D1B26;
    --dp-primary-text-color: #ffffff;
    --dp-secondary-color: #C2BEB5;
    --dp-border-color: rgba(77, 27, 38, 0.1);
    --dp-menu-border-color: rgba(77, 27, 38, 0.1);
    --dp-border-color-hover: #4D1B26;
    --dp-hover-color: rgba(77, 27, 38, 0.08);
    --dp-hover-text-color: #301118;
    --dp-range-between-dates-background-color: rgba(77, 27, 38, 0.15);
    --dp-range-between-dates-text-color: #301118;
    --dp-range-between-border-color: rgba(77, 27, 38, 0.15);
}

@layer base {
    html {
        @apply font-sans overflow-x-hidden;
    }
    html,
    body {
        @apply max-w-full scroll-smooth;
    }
}
